DATABASE_URL=file:local.db
DATABASE_AUTH_TOKEN=

AUTH_SECRET=your_auth_secret_here
AUTH_TRUST_HOST=true

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

NEXT_PUBLIC_BASE_URL=http://localhost:3000
